<section class="infinitys-edge">
    <form class="infinitys-edge item-form" autocomplete='off'>
        <header class="sheet-header">
            <div class="header-fields">
                <h1 class="charname"><input name="name" type="text" placeholder="Name" /></h1>
            </div>
        </header>
        <div class='attributes' data-group='primary' data-tab='attributes'>
            <div class="resource">
                <div class="grid grid-2col">
                    <div class="grid-span-1">
                        <label class="resource-label">Skill Type</label>
                        <div>
                            <select name="type">
                                <option value="general">General</option>
                                <option value="technique">Technique</option>
                                <option value="trait">Trait</option>
                                <option value="profession">Profession</option>
                            </select>
                        </div>
                    </div>
                    <div class="gird-span-1">
                        <label class="resource-label">Stamina Cost</label>
                        <input type='text' name='cost' data-dtype='Number' />
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>